{% extends 'base.html' %}
{% load static %}
{% block title %} My Cart {% endblock title %}
{% block content %}

<div id="addToCart" class="container text-center border-bottom font-monospace" style="margin-top: 116px;">
    <span class="text-success text-decoration-underline" >BAG</span>
    <span>------------ADDRESS</span>
    <span>------------PAYMENT</span>
</div>

<div class="container d-flex" >
    <div class="col-7 me-3 display-flex border-end">
        <div class="col me-5 border p-4 mt-5">
            <small><strong>Check Delivery time & Services</strong></small>
            <small class="border border-danger float-end me-3 p-2 text-danger">Enter Pin Code</small>
        </div>
        <div class="col me-5 border p-4 mt-1">
            <small><strong>Available Offers</strong></small>
            <div id="offerlist">
                <li>10% instant Discount on IDFC FIRST Bank Credit and Debit Cards on a min spend of Rs 25,000. TCA</li>
                <li>10% instant Discount on IDFC FIRST Bank Credit and Debit Cards on a min spend of Rs 25,000. TCA</li>
                <li>10% instant Discount on IDFC FIRST Bank Credit and Debit Cards on a min spend of Rs 25,000. TCA</li>
                <li>10% instant Discount on IDFC FIRST Bank Credit and Debit Cards on a min spend of Rs 25,000. TCA</li>
                <li>10% instant Discount on IDFC FIRST Bank Credit and Debit Cards on a min spend of Rs 25,000. TCA</li>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-3 rouded shadow">
                <img src="{% static 'images/products/7.png' %}" alt="" class="img-fluid img-thumbnail" style="height: 180px;">
            </div>
            <div class="col p-3 rouded shadow">
                <span>Product-name</span><br>
                <span>Descrip</span><br>
                <small><i class="fa-solid fa-indian-rupee-sign"></i> 255</small>
                <small class="text-secondary" style="margin-left: 2px;">MRP<i class="fa-solid fa-indian-rupee-sign"></i><span class="text-decoration-line-through">100</span></small>
                <span>Qty:</span>
            </div>
        </div>
   
    </div>
    <div class="col rouded shadow">
        gfdfh
    </div>
</div>

{% endblock %}
