{% extends 'base.html' %}
{% load static %}
{% block title %} SHOPPING BAG {% endblock title %}
{% block content %}

<div id="addToCart" class="container text-center border-bottom font-monospace" style="margin-top: 116px;">
    <span class="text-success text-decoration-underline" >BAG</span>
    <span>------------ADDRESS</span>
    <span>------------PAYMENT</span>
</div>

<div class="container d-flex" >
    <div class="col-7 me-3 display-flex border-end">
        <div class="col me-5 border p-4 mt-5">
            <small><strong>Check Delivery time & Services</strong></small>
            <small class="border border-danger float-end me-3 p-2 text-danger">Enter Pin Code</small>
        </div>
        <div class="col me-5 border p-4 mt-1">
            <small><strong>Available Offers</strong></small>
            <div id="offerlist">
                <li>10% instant Discount on IDFC FIRST Bank Credit and Debit Cards on a min spend of Rs 25,000. TCA</li>
                <li>10% instant Discount on IDFC FIRST Bank Credit and Debit Cards on a min spend of Rs 25,000. TCA</li>
                <li>10% instant Discount on IDFC FIRST Bank Credit and Debit Cards on a min spend of Rs 25,000. TCA</li>
                <li>10% instant Discount on IDFC FIRST Bank Credit and Debit Cards on a min spend of Rs 25,000. TCA</li>
                <li>10% instant Discount on IDFC FIRST Bank Credit and Debit Cards on a min spend of Rs 25,000. TCA</li>
            </div>
        </div>
        <div class="row mt-3 border me-5 p-4 ms-1">
            {% for c in cart_details %}
            <div class="col-3">
                <img src="{{c.image.url}}" alt="" class="img-fluid img-thumbnail" style="height: 180px;">
            </div>
            <div class="col p-3">
                <span class="fw-bold">{{ c.product }}</span><br>
                <span class="fw-lighter">{{c.description}}</span><br>
                <small><i class="fa-solid fa-indian-rupee-sign"></i> {{c.discount_price}}</small><br>
                <span class="pe-3" style="font-family: fangsong">Quantity:  <i class="fa-solid fa-square-minus pe-3"></i>ghuk</span><i class="fa-solid fa-square-plus"></i><br>
                <button class="btn btn-secondary btn-sm mt-2">Remove item</button>
            </div>
        </div>
   
    </div>
    <div class="col border text-secondary" style="margin: 48px 6px 215px 32px">
        <div class="mt-3">
            <small class="fw-bold ms-4">PRICE DETAILS(1 item)</small><hr>
        </div>
        <small class="ms-4">Total MRP</small><small class="float-end pe-2"><i class="fa-solid fa-indian-rupee-sign"></i>{{c.discount_price}}</small><br>
        <small class="ms-4">Coupon Discount</small><small class="text-danger float-end pe-2">Appy Coupon</small><br>
        <small class="ms-4">Convenience Fee <span class="text-danger fw-bold"> Know More</span></small><small class="float-end pe-2"><i class="fa-solid fa-indian-rupee-sign"></i>99</small><br><hr>
        <div class="ms-4 fw-bold">
            <!-- <span class="fw-bold ms-4">Total Amount<span class="float-end p-2"><i class="fa-solid fa-indian-rupee-sign"></i>255</span></span><br> -->
        <span>Total Amount</span><span class="float-end pe-2"><i class="fa-solid fa-indian-rupee-sign"></i>255</span><br>
        </div>
        <button id="place-order-btn" class="btn btn-danger">PLACE ORDER</button>
    </div>
    {% endfor %}
</div>

{% endblock %}
