{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>

    <!-- BootStrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">

    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <script src="https://kit.fontawesome.com/7a77fce3e3.js" crossorigin="anonymous"></script>


</head>
<body>
    hello

    <div class="owl-carousel owl-theme">
        <div class="item"><img src="{% static 'images/products/2.jpg' %}" alt="" srcset=""></div>
        <div class="item"><img src="{% static 'images/products/2.jpg' %}" alt="" srcset=""></div>
        <div class="item"><img src="{% static 'images/products/2.jpg' %}" alt="" srcset=""></div>
        <div class="item"><img src="{% static 'images/products/2.jpg' %}" alt="" srcset=""></div>
        <div class="item"><img src="{% static 'images/products/2.jpg' %}" alt="" srcset=""></div>
        <div class="item"><img src="{% static 'images/products/2.jpg' %}" alt="" srcset=""></div>
        <div class="item"><img src="{% static 'images/products/2.jpg' %}" alt="" srcset=""></div>
        <div class="item"><img src="{% static 'images/products/2.jpg' %}" alt="" srcset=""></div>
        <div class="item"><img src="{% static 'images/products/2.jpg' %}" alt="" srcset=""></div>
        <div class="item"><img src="{% static 'images/products/2.jpg' %}" alt="" srcset=""></div>
        <div class="item"><img src="{% static 'images/products/2.jpg' %}" alt="" srcset=""></div>
        <div class="item"><img src="{% static 'images/products/2.jpg' %}" alt="" srcset=""></div>
    </div>


    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          Dropdown button
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li class="list"><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </div>


      <div class="container">
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img class="d-block w-100" src="{% static 'images/banner/am1.png' %}" alt="First slide">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="{% static 'images/banner/am2.png' %}" alt="Second slide">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="{% static 'images/banner/am3.png' %}" alt="Third slide">
              </div>
            </div>
          </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.2/jquery.min.js" integrity="sha512-tWHlutFnuG0C6nQRlpvrEhE4QpkG1nn2MOUMWmUeRePl4e3Aki0VB6W1v3oLjFtd0hVOtRQ9PHpSfN6u6/QXkQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>



<i class="fa-solid fa-indian-rupee-sign"></i>

<i class="fa-solid fa-indian-rupee-sign"></i>

<style>
    .dropdown:hover .dropdown-menu{display: block;}
    .dropdown:hover {
        border-block-color: rgb(189, 43, 43);
    }
    .list{color: aquamarine;background-color: aliceblue;box-shadow: 3px;}
</style>



    <script type="text/javascript">
        console.log("script");
        $('.owl-carousel').owlCarousel({
            
            loop:true,
            margin:10,
            nav:false,
            dots:false,
            responsive:{
                0:{
                    items:1
                },
                600:{
                    items:3
                },
                1000:{
                    items:5
                }
            }
        })
        $('.carousel').carousel({
            interval: 2000
        })
        console.log("inside")
    </script>
</body>
</html>